<HTML>
	<HEAD><TITLE>LOST Dashboard</TITLE></HEAD>
	<BODY>
		<H1>LOST Dashboard</H1>
		<p>Welcome {{username}}!</p>
		<h2>Actions</h2>
		<table>
		    <tr><td><a href="{{url_for('asset_report')}}">Asset Report</a></td><td>Report of assets by facility</td></tr>
		    <tr><td><a href="{{url_for('transfer_report')}}">Transfer Report</a></td><td>Report of assets in transit</td></tr>
		    <tr><td><a href="{{url_for('add_asset')}}">Add Asset</a></td><td>Add an asset to LOST</td></tr>
		    <tr><td><a href="{{url_for('add_facility')}}">Add Facility</a></td><td>Add a facility to LOST</td></tr>
		    {% if session['role']=='Logistics Officer' %}
		    <tr><td><a href="{{url_for('dispose_asset')}}">Dispose Asset</a></td><td>Mark LOST asset disposed</td></tr>
		    <tr><td><a href="{{url_for('transfer_req')}}">Request Transfer</a></td><td>Request an asset be transferred</td></tr>
		    {% endif %}
		</table>
		
		{% if session['role']=='Logistics Officer' %}
		<h2>Asset Transits to Process</h2>
		<table>
		<tr><th>Date</th><th>Req #</th><th>Asset Tag</th><th>From</th><th>To</th></tr>
		{% for r in to_load: %}
		    <tr><td>{{r['date']}}</td><td><a href="{{url_for('update_transit')}}?id={{r['id']}}">{{r['id']}}</a></td><td>{{r['tag']}}</td><td>{{r['src']}}</td><td>{{r['dst']}}</td></tr>
		{% endfor %}
		</table>
		{% endif %}
		
		{% if session['role']=='Facilities Officer' %}
		<h2>Asset Transits to Approve</h2>
		<table>
		    <tr><th>Date</th><th>Req #</th><th>Asset Tag</th><th>From</th><th>To</th></tr>
		{% for r in to_approve: %}
		    <tr><td>{{r['date']}}</td><td><a href="{{url_for('approve_req')}}?id={{r['id']}}">{{r['id']}}</a></td><td>{{r['tag']}}</td><td>{{r['src']}}</td><td>{{r['dst']}}</td></tr>
		{% endfor %}
		</table>
		{% endif %}
	</BODY>
</HTML>
